<div class="navigationbar">
    <ul class="vertical-menu">
        <li>
            <a href="javaScript:void();">
              <img src="assets/images/svg-icon/dashboard.svg" class="img-fluid" alt="dashboard"><span>Home</span><i class="feather icon-chevron-right pull-right"></i>
            </a>
            <ul class="vertical-submenu">
                <li><a routerLink="/">dashboard</a></li>
            </ul>
        </li>
        <li>
            <a href="javaScript:void();">
                <img src="assets/images/svg-icon/layouts.svg" class="img-fluid" alt="layouts"><span>CRM</span><i class="feather icon-chevron-right pull-right"></i>
            </a>
            <ul class="vertical-submenu">
                <li><a routerLink="/main/deals">Deals</a></li> 
                <li><a routerLink="/main/mails">Mails</a></li>
                <li><a routerLink="/main/activities">Activities</a></li>
                <li><a routerLink="/main/contacts">Contacts</a></li>
                <li><a routerLink="/main/tasks">Tasks</a></li> 
                <li><a routerLink="/main/goals">Goals</a></li>
                <li><a routerLink="/main/progress">Progress</a></li>
                <li><a routerLink="/main/forms">Forms</a></li>
                <li><a routerLink="/main/reports">Reports</a></li> 
            </ul>
        </li>                                        
    </ul>
</div>