<div id="containerbar" class="containerbar authenticate-bg">
    <!-- Start Container -->
    <div class="container">
        <div class="auth-box register-box">
            <!-- Start row -->
            <div class="row no-gutters align-items-center justify-content-center">
                <!-- Start col -->
                <div class="col-md-6 col-lg-5">
                    <!-- Start Auth Box -->
                    <div class="auth-box-right">
                        <div class="card">
                            <div class="card-body"> 
                                <form action="#">
                                    <div class="form-head">
                                        <a routerLink="/" class="logo"><img src="assets/images/logo.png" class="img-fluid" alt="logo"></a>
                                    </div> 
                                    <h4 class="text-primary my-4">CONGRATULATIONS!</h4>
                                    <div class="form-group">
                                        <h3> An email validation message has been sent to your inbox!</h3>
                                    </div>
                                    <a routerLink="/login" class="btn btn-primary">Go to Login</a>
                                </form>
 
                            </div>
                        </div>
                    </div>
                    <!-- End Auth Box -->
                </div>
                <!-- End col -->
            </div>
            <!-- End row -->
        </div>
    </div>
    <!-- End Container -->
</div>