<div class="breadcrumbbar">
        <div class="row align-items-center">
        <div class="col-md-8 col-lg-8">
            <h4 class="page-title">Tasks</h4>
            <div class="breadcrumb-list">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="">Home</a></li>
                    <li class="breadcrumb-item"><a routerLink="#">Deals</a></li>
                    <li class="breadcrumb-item active" aria-current="page">tasks</li>
                </ol>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="widgetbar">
                <button class="btn btn-primary-rgba"><i class="feather icon-plus mr-2"></i>Task+</button>
            </div>                        
        </div>
    </div>          
</div>
<!-- End Breadcrumbbar -->
<!-- Start Contentbar -->    
<div class="contentbar">     
    <!-- Start col -->
    <div class="row">
            <!-- Start col -->
            <div class="col-lg-6 col-xl-4">
                <div class="card m-b-30">
                    <div class="card-header">
                        <h5 class="card-title">Primary</h5>
                    </div>
                    <div class="card-body">
                        <div class="pnotify">
                            <button type="button" class="btn btn-primary" id="pnotify-primary"><i class="feather icon-bell"></i> Click here!</button>
                        </div>    
                    </div>
                </div>    
            </div>
            <!-- End col -->
            <!-- Start col -->
            <div class="col-lg-6 col-xl-4">
                <div class="card m-b-30">
                    <div class="card-header">
                        <h5 class="card-title">Success</h5>
                    </div>
                    <div class="card-body">
                        <div class="pnotify">
                            <button type="button" class="btn btn-success" id="pnotify-success"><i class="feather icon-bell"></i> Click here!</button>
                        </div>    
                    </div>
                </div>    
            </div>
            <!-- End col -->
            <!-- Start col -->
            <div class="col-lg-6 col-xl-4">
                <div class="card m-b-30">
                    <div class="card-header">
                        <h5 class="card-title">Danger</h5>
                    </div>
                    <div class="card-body">
                        <div class="pnotify">
                            <button type="button" class="btn btn-danger" id="pnotify-danger"><i class="feather icon-bell"></i> Click here!</button>
                        </div>    
                    </div>
                </div>    
            </div>
            <!-- End col -->
            <!-- Start col -->
            <div class="col-lg-6 col-xl-4">
                <div class="card m-b-30">
                    <div class="card-header">
                        <h5 class="card-title">Info</h5>
                    </div>
                    <div class="card-body">
                        <div class="pnotify">
                            <button type="button" class="btn btn-info" id="pnotify-info"><i class="feather icon-bell"></i> Click here!</button>
                        </div>    
                    </div>
                </div>    
            </div>
            <!-- End col -->
            <!-- Start col -->
            <div class="col-lg-6 col-xl-4">
                <div class="card m-b-30">
                    <div class="card-header">
                        <h5 class="card-title">Desktop Primary</h5>
                    </div>
                    <div class="card-body">
                        <div class="pnotify">
                            <button type="button" class="btn btn-primary" id="pnotify-desktop-primary"><i class="feather icon-bell"></i> Click here!</button>
                        </div>    
                    </div>
                </div>    
            </div>
            <!-- End col -->
            <!-- Start col -->
            <div class="col-lg-6 col-xl-4">
                <div class="card m-b-30">
                    <div class="card-header">
                        <h5 class="card-title">Desktop Success</h5>
                    </div>
                    <div class="card-body">
                        <div class="pnotify">
                            <button type="button" class="btn btn-success" id="pnotify-desktop-success"><i class="feather icon-bell"></i> Click here!</button>
                        </div>    
                    </div>
                </div>    
            </div>
            <!-- End col -->
            <!-- Start col -->
            <div class="col-lg-6 col-xl-4">
                <div class="card m-b-30">
                    <div class="card-header">
                        <h5 class="card-title">Desktop Danger</h5>
                    </div>
                    <div class="card-body">
                        <div class="pnotify">
                            <button type="button" class="btn btn-danger" id="pnotify-desktop-danger"><i class="feather icon-bell"></i> Click here!</button>
                        </div>    
                    </div>
                </div>    
            </div>
            <!-- End col -->                    
            <!-- Start col -->
            <div class="col-lg-6 col-xl-4">
                <div class="card m-b-30">
                    <div class="card-header">
                        <h5 class="card-title">Desktop Info</h5>
                    </div>
                    <div class="card-body">
                        <div class="pnotify">
                            <button type="button" class="btn btn-info" id="pnotify-desktop-info"><i class="feather icon-bell"></i> Click here!</button>
                        </div>    
                    </div>
                </div>    
            </div>
            <!-- End col -->
            <!-- Start col -->
            <div class="col-lg-6 col-xl-4">
                <div class="card m-b-30">
                    <div class="card-header">
                        <h5 class="card-title">Desktop Warning</h5>
                    </div>
                    <div class="card-body">
                        <div class="pnotify">
                            <button type="button" class="btn btn-warning" id="pnotify-desktop-warning"><i class="feather icon-bell"></i> Click here!</button>
                        </div>    
                    </div>
                </div>    
            </div>
            <!-- End col -->
        </div>
</div>