            <!-- Start Breadcrumbbar -->                    
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-8 col-lg-8">
                        <h4 class="page-title">Deals</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                                <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Deals</li>
                            </ol>
                        </div>

                    </div>
                </div>          
            </div>
            <!-- End Breadcrumbbar -->
            <!-- Start Contentbar -->    
            <div class="contentbar">                
                <!-- Start row -->
                <div class="row">
                    <div class="col-lg-2" *ngFor="let item of DealsType">
                        <div class="card">
                            <div class="card-header bg-dark status-head mb-2">
                                <span class="font-weight-bold">{{item.title}}</span>
                            </div>
                            <ng-container *ngFor="let subItem of Deals">
                                <ng-container *ngIf="subItem.deal == item.id">
                                    <div class="card-body  p-2 mb-1 bg-light rounded-sm text-truncate">
                                        <div class="dd" id="nestable">
                                            <div class="row head-title">
                                                <div class="col-lg-1">
                                                    <img class="rounded-circle" width="25" src="https://ui-avatars.com/api/?name=John+Doe" alt="">
                                                </div>
                                                <div class="col-lg-9">
                                                    <span class="lead-title text-uppercase text-dark font-weight-bold" data-toggle="tooltip" data-placement="right" [title]="subItem.last_name">
                                                        {{subItem.last_name}}
                                                    </span>
                                                </div>
                                                
                                            </div>
                                            <small class="ml-4 font-weight-bold">{{subItem.budget}}</small>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>

                        </div>
                    </div>  
                </div>
                <!-- End row -->
            </div>
            <!-- End Contentbar -->