            <!-- Start Breadcrumbbar -->                    
            <div class="breadcrumbbar">
                <div class="row align-items-center">
                    <div class="col-md-8 col-lg-8">
                        <h4 class="page-title">Deals</h4>
                        <div class="breadcrumb-list">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                                <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Deals</li>
                            </ol>
                        </div>

                    </div>
                </div>          
            </div>
            <!-- End Breadcrumbbar -->
            <!-- Start Contentbar -->    
            <div class="contentbar">                
                <!-- Start row -->
                <div class="row">
                    <div class="col-lg-2">
                        <div class="card">
                            <div class="card-header bg-dark status-head mb-2">
                                <span class="font-weight-bold">Status</span>
                            </div>
                            <div class="card-body p-2 bg-light rounded-sm">
                                <div class="dd" id="nestable">
                                    <div class="row head-title">
                                        <div class="col-lg-1">
                                            <img class="rounded-circle" width="25" src="https://ui-avatars.com/api/?name=John+Doe" alt="">
                                        </div>
                                        <div class="col-lg-9">
                                            <span class="lead-title text-truncate text-lowercase">
                                                Accenture
                                            </span>
                                        </div>
                                        
                                    </div>
                                    <small class="ml-2 font-weight-bold">$20000</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End row -->
            </div>
            <!-- End Contentbar -->